<div class="background-left-bar"></div>
<main class="main-container">
  <p class="content-text">
    This project offers short explanations on select topics related to the game
    development software, Godot, as well as Angular and various coding
    challenges.
    <br />
    <br />
    While it adopts the format of a blog, the posts are not meant to be in-depth
    guides or tutorials, nor are they crafted to particularly attract readers.
    Instead, they serve as quick references on features I may want to revisit in
    the future.
    <br />
    <br />
    My primary aim isn't to attract a vast readership; for detailed guides and
    tutorials, I collaborate with freeCodeCamp. This platform primarily supports
    my personal endeavors and has also been an excellent avenue for honing my
    Angular skills, as the website is built using the Angular framework.
  </p>
  <div class="content-images">
    <img src="assets/images/angular.jpg" class="content-angular-image" />
    <img
      src="assets/images/codingproblem.jpg"
      class="content-codingproblem-image"
    />
    <img src="assets/images/godot.jpg" class="content-godot-image" />
  </div>
</main>
