@import "../../../utils/scssVariables.scss";
@import "../../../utils/extendables.scss";

.background-left-bar {
  @extend .background-left-bar;
}

.single-post {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &-title-area {
    &-container {
      display: inherit;
      flex-direction: column;
      width: 95%;
      position: relative;
    }

    &-tags {
      font-size: $secondary-font-size;
    }

    &-title {
      font-size: $title-font-size;
    }

    &-date {
      font-size: $secondary-font-size;
    }
  }

  &-content-area {
    &-container {
      font-size: $main-font-size;
      width: 95%;
    }
  }

  &-code-area {
    &-container {
      font-size: calc($main-font-size * 0.75);
      width: 95%;
      margin-top: 15px;
      overflow-wrap: break-word;
    }
  }

  &-next-area {
    &-content {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 50%;
      padding: 15px;
      color: $fourth-color;
      font-size: calc($main-font-size + 1.5vw);
      margin-right: auto;
      margin-left: auto;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .single-post-next-area-content {
    max-width: 100%;
    text-overflow: initial;
    white-space: unset;
    overflow: auto;
    text-align: center;
  }
}

@media only screen and (max-width: 400px) {
  .background-left-bar {
    display: none;
  }

  .single-post-container {
    margin-left: -35px;
    width: 95vw;
  }
}
