@import "../../../utils/scssVariables.scss";
@import "../../../utils/extendables.scss";

.background-left-bar {
  @extend .background-left-bar;
}

.single-post {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &-title-area {
    &-container {
      display: inherit;
      flex-direction: column;
      width: 95%;
    }

    &-tags {
      font-size: $secondary-font-size;
    }

    &-title {
      font-size: $title-font-size;
    }

    &-date {
      font-size: $secondary-font-size;
    }
  }

  &-content-area {
    &-container {
      font-size: $main-font-size;
      width: 95%;
    }
  }

  &-code-area {
    &-container {
      font-size: calc($main-font-size * 0.75);
      width: 95%;
      white-space: pre-wrap;
      margin-top: 15px;
    }
  }

  &-next-area {
    &-content {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 50%;
      padding: 15px;
      color: $fourth-color;
      font-size: $title-font-size;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
