<main class="single-post-container">
  <div class="background-left-bar"></div>

  <div class="single-post-title-area-container">
    <p class="single-post-title-area-tags">
      [{{
        currentPost.tag === "Codingproblem"
          ? "Coding Problem"
          : currentPost.tag
      }}]
    </p>
    <h1 class="single-post-title-area-title">{{ currentPost.title }}</h1>
    <p class="single-post-title-area-date">{{ getDate(currentPost.date) }}</p>
  </div>

  <div class="single-post-content-area-container">
    <markdown [data]="currentPost.content"></markdown>
  </div>

  <div class="single-post-code-area-container">
    <h2>
      {{ "Code Example: " + "(" + currentPost.codeLanguage + ")" }}
    </h2>
    <markdown lineNumbers [data]="currentPost.code"></markdown>
  </div>

  <h3 class="single-post-next-area-content">
    See a similar post:
    <a [routerLink]="'/posts/' + nextPost.id">{{ nextPost.title }}</a>
  </h3>
</main>
