$title-font-size: calc(36px + 0.75vw);
$main-font-size: calc(18px + 0.75vw);
$secondary-font-size: calc(12px + 0.75vw);

$first-color: #f7f7f7;
$second-color: #f5b553;
$third-color: #854836;
$fourth-color: #000000;
