<div class="filter-options-container">
  <div class="filter-options-searchbyname-container">
    <div class="filter-options-each-title-container">
      <div class="filter-options-each-title-div-background"></div>
      <h2 class="filter-options-each-title-text">Search by Title</h2>
    </div>
    <input
      class="filter-options-searchbyname-input"
      [(ngModel)]="searchValue"
    />
    <app-custom-button (customClick)="searchForValue()"
      >Search For Title</app-custom-button
    >
  </div>

  <div class="filter-options-filterbytag-container">
    <div class="filter-options-each-title-container">
      <div class="filter-options-each-title-div-background"></div>
      <h2 class="filter-options-each-title-text">Filter By Tag</h2>
    </div>
    <div class="filter-options-filterbytag-options-container">
      <div
        *ngFor="let tag of allTags"
        [class.optionSelected]="tag === selectedTag"
        (click)="selectTag(tag)"
      >
        <div></div>
        <app-custom-button (customClick)="loadPostsByTag(tag)">{{
          tag === "Codingproblem" ? "Coding Problem" : tag
        }}</app-custom-button>
      </div>
    </div>
  </div>

  <div class="filter-options-sortbydate-container">
    <div class="filter-options-each-title-container">
      <div class="filter-options-each-title-div-background"></div>
      <h2 class="filter-options-each-title-text">Sort by Date</h2>
    </div>
    <div class="filter-options-sortbydate-options-container">
      <div
        [class.optionSelected]="'oldnew' === selectedDateSort"
        (click)="selectDateSort('oldnew')"
      >
        <app-custom-button (customClick)="sortByDate('oldnew')"
          >Old -> New</app-custom-button
        >
      </div>
      <div
        [class.optionSelected]="'newold' === selectedDateSort"
        (click)="selectDateSort('newold')"
      >
        <app-custom-button (customClick)="sortByDate('newold')"
          >New -> Old</app-custom-button
        >
      </div>
    </div>
  </div>
</div>

<div class="filter-options-reset-container">
  <app-custom-button (customClick)="resetOptions()"
    >Reset Filter Options</app-custom-button
  >
</div>

<div class="posts-container">
  <div
    *ngFor="let post of posts"
    (click)="navigateToPost(post.id)"
    class="post-container"
  >
    <img
      [src]="'../../../assets/images/' + post.tag.toLowerCase() + '.jpg'"
      class="post-image"
    />
    <div class="post-inner-container">
      <h2 class="post-inner-title">{{ post.title }}</h2>
      <p class="post-inner-description">
        {{ post.description }}
      </p>
      <p>[{{ post.tag === "Codingproblem" ? "Coding Problem" : post.tag }}]</p>
      <p>{{ getDate(post.date) }}</p>
    </div>
  </div>
</div>
