@import "../../../utils/scssVariables.scss";
@import "../../../utils/extendables.scss";

.background-left-bar {
  @extend .background-left-bar;
}

.filter-options {
  &-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: $fourth-color;

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: -10px;
      width: 100%;
      height: 100%;
      border: 1px solid $fourth-color;
      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      top: 10px;
      left: 10px;
      width: 100%;
      height: 100%;
      border: 1px solid $fourth-color;
      z-index: -1;
    }
  }

  &-each-title {
    &-container {
      position: relative;
      padding: 15px;
      margin-bottom: 15px;
    }

    &-text {
      z-index: 10;
      position: relative;
      color: $fourth-color;
      font-size: $main-font-size;
      text-align: center;
    }

    &-div-background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 9;
      background-color: $second-color;
      transform: skewX(15deg);
      border: 1px solid $fourth-color;

      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
        0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
        0 16px 16px rgba(0, 0, 0, 0.05);
    }
  }

  &-searchbyname {
    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 25%;
    }

    &-input {
      font-size: calc($main-font-size * 0.75);
      padding: 7.5px;
      margin-bottom: 15px;
    }
  }

  &-filterbytag {
    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 25%;
    }

    &-options-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    &-select {
      font-size: calc($main-font-size * 0.75);
      padding: 7.5px;
    }
  }

  &-sortbydate {
    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 25%;
    }

    &-options {
      &-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      &-select {
        font-size: calc($main-font-size * 0.75);
        padding: 7.5px;
      }
    }
  }

  &-reset-container {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.post {
  &-container {
    width: 35%;
    height: 400px;
    min-width: 300px;
    position: relative;
    border-radius: 50%;
    font-size: $main-font-size;
    cursor: pointer;
    transition: 0.2s;
    text-align: center;
    margin-bottom: 100px;

    &:hover {
      background-color: $third-color;
    }
  }

  &-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    z-index: 1;
    opacity: 0.8;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
      0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
      0 16px 16px rgba(0, 0, 0, 0.05);
  }

  &-inner {
    position: relative;

    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      position: relative;
      z-index: 10;
    }

    &-title {
      &-container {
        position: relative;
        width: 85%;
        padding: 15px;
      }

      &-div-background {
        @extend .filter-options-each-title-div-background;
      }

      &-text {
        position: relative;
        margin-bottom: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        z-index: 10;
        color: $fourth-color;
        margin-top: auto;
        margin-bottom: auto;
      }
    }

    &-description {
      padding: 25px;
      overflow: hidden;
      color: $first-color;
      text-shadow: 2px 2px 2px $fourth-color;
    }

    &-tag {
      @extend .post-inner-description;
      padding: 2.5px;
    }

    &-date {
      @extend .post-inner-description;
      padding: 2.5px;
    }
  }
}

// @keyframes selectedAnimation {
//   from {
//     transform: translateY(0px);
//   }
//   to {
//     transform: translateY(5px);
//   }
// }

// .optionSelected {
//   animation: selectedAnimation 2s ease-in-out 0s infinite alternate none;
//   box-shadow: 0 1px 1px 2px $second-color;
// }

// Responsive Section:
@media only screen and (max-width: 1100px) {
  .filter-options {
    &-each-title {
      &-container {
        width: 150px;
      }
    }

    &-container {
      flex-direction: column;
      align-items: center;
      width: 50%;
      margin-bottom: 50px;
    }

    &-searchbyname {
      &-container {
        margin-bottom: 50px;
        width: 100%;
      }

      &-input {
        padding: 1px;
        max-width: 100%;
      }
    }

    &-filterbytag {
      &-container {
        margin-bottom: 50px;
        width: 100%;
      }

      &-select {
        padding: 1px;
        max-width: 100%;
      }
    }

    &-sortbydate {
      &-container {
        width: 100%;
      }

      &-options-select {
        padding: 1px;
        max-width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .filter-options {
    &-container {
      flex-direction: column;
      align-items: center;
      width: 80%;
      margin-bottom: 50px;
    }
  }
}

@media only screen and (max-width: 400px) {
  .background-left-bar {
    display: none;
  }

  .main-container {
    margin-left: -35px;
  }
}
