<div>
  <button (click)="loadAllPosts()">Reset Filter options</button>
</div>
<div class="filter-options-container">
  <div class="filter-options-searchbyname-container">
    <input [(ngModel)]="searchValue" />
    <p>{{ searchValue }}</p>
    <button (click)="searchForValue()">Search Button</button>
  </div>

  <div class="filter-options-filterbytag-container">
    <div *ngFor="let tag of ['Angular', 'Godot', 'Codingproblem']">
      <button (click)="loadPostsByTag(tag)">
        {{ tag === "Codingproblem" ? "Coding Problem" : tag }}
      </button>
    </div>
  </div>

  <div class="filter-options-sortbydate-container">
    <h2>Sort By Date</h2>
    <button (click)="sortByDate('oldnew')">Old -> New</button
    ><button (click)="sortByDate('newold')">New -> Old</button>
  </div>
</div>

<div class="posts-container">
  <div
    *ngFor="let post of posts"
    (click)="navigateToPost(post.id)"
    class="post-container"
  >
    <img
      [src]="'../../../assets/images/' + post.tag.toLowerCase() + '.jpg'"
      class="post-image"
    />
    <div class="post-inner-container">
      <h2 class="post-inner-title">{{ post.title }}</h2>
      <p class="post-inner-description">
        {{ post.description }}
      </p>
      <p>[{{ post.tag === "Codingproblem" ? "Coding Problem" : post.tag }}]</p>
      <p>{{ getDate(post.date) }}</p>
    </div>
  </div>
</div>
